html {
  background: gainsboro;
  width: 100%;
  height: 100%;
  touch-action: none;
}

body {
  background-color: #ebebeb;
  max-width: 540px;
  margin: auto;
  min-height: 100%;
  padding-top: 1px;
  box-sizing: border-box;
  font-family:"monospace";
}

main {
  text-align: center;
}

footer {
  margin: 1rem;
}

button {
  border-radius: 10%;
  line-height: 1.2em;
  outline: none;
  padding: 1px 6px;
  box-sizing: content-box;
  margin: 0.5rem;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(80%);
}

#counter {
  box-sizing: content-box;
  font-size: 7rem;
  line-height: 1.2em;
  min-height: 1.2em;
  overflow-y: hidden;
}

#counter.minus {
  color: #fa6868;
}

#time {
  font-size: 2rem;
  line-height: 1.2em;
  min-height: 1.2em;
}

#controls {
  font-size: 0;
}

#controls button {
  display: inline-block;
  padding: 0;
  font-size: min(5rem, 30vw);
  line-height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  margin: min(1rem, 1vw);
  font-weight: 700;
  text-align: center;
  border: solid 0.05em gray;
}

#controls .add {
  background-color: #90ee90;
}

#controls .sub {
  background-color: #ffccbd;
}

#setting button {
  font-size: min(2rem, max(1.2rem, 5vmin));
}